<div class="f-info">
    <div class="f-social">
        <i class="fa-solid fa-globe"></i> English (IN)

        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
    </div>
    <div class="comp"><i class="fa-regular fa-copyright"></i> UrbanNest Private Limited </div>
    <div class="f-info-links"> 
        <ul class="links">
        &#x2022;<li><a href="/privacy">Privacy</a> </li>
        &#x2022;<li><a href="/terms">Terms</a> </li>
        &#x2022;<li><a href="/sitemap">Sitemap</a> </li>
        &#x2022;<li><a href="/company-details">Company Details</a> </li>
    </ul>
    </div>
</div>