<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanNest</title>
</head>
<body>
    <h3>All Listings</h3>
    <form action="/listings/new" method="GET">
        <button type="submit">Create new Listing</button>
    </form>
    <ul>
        <% for(let list of alllist ){ %>
            <li>
                <a href="/listings/<%= list._id %>"><%= list.title %></a>                
            </li>


        <% } %>
    </ul>
</body>
</html>