<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8">

                <h2>Create New Listing</h2>
                <form action="/listings" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title] " class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description] " class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image URL</label>
                        <input type="url" name="listing[image] " class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price] " class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location] " class="form-control">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country] " class="form-control">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark offset-6">Add</button>
                    <br><br>
                </form>
            </div>
        </div>
    </body>