<% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="alert alert-danger d-flex align-items-center col-10 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:"></svg>
            <h6> <%= message %></h6>
        </div>
    </div>